<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">What actually is Key Club and how does it work? No we don't make keys!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <a href="https://www.keyclub.org/"><img class="img-circle img-responsive" src="img/about/1.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Governing Body</h4>
                                    <h4 class="subheading"><a href="https://www.keyclub.org/"> Key Club International</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The largest student-led high school organization... in the world! Students serve in all sorts of events from 45 unique countries!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.cnhkeyclub.org/"><img class="img-circle img-responsive" src="img/about/2.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>District</h4>
                                    <h4 class="subheading"><a href="https://www.cnhkeyclub.org/">California-Nevada-Hawaii Bees</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The CNH district is actually the largest district in Key Club International with 30,000 members. Our own club has TWO members on a District-level committee, the District Tech Team. Pavan and Aveed work with others all over CNH to improve the Cyberkey and other tech related tasks.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="https://www.instagram.com/region16cupcakes/"><img class="img-circle img-responsive" src="img/about/3.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Region</h4>
                                    <h4 class="subheading"><a href="https://www.instagram.com/region16cupcakes/">Sweet 16 Cupcakes</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our region hosts a lot of events in our area, including festivals, fundraisers, and all sorts of workshops. Region 16 is home to D7N, D7S, D7W, D27N, D27S, D44N, D44S, and the best one—D44W.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.instagram.com/d44wkeyclub/"><img class="img-circle img-responsive" src="img/about/4.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Division</h4>
                                    <h4 class="subheading"><a href="https://www.instagram.com/d44wkeyclub/">44 West Firefoxes</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are so proud to be super tight-knit with the other schools in our division. We do all sorts of fun events together from interclubs to our monthly Divisional Council Meeting.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="https://www.instagram.com/gbhskeyclub/"><img class="img-circle img-responsive" src="img/about/5.jpg" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Club</h4>
                                    <h4 class="subheading"><a href="https://www.instagram.com/gbhskeyclub/">Granite Bay</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The one and only! We were lucky enough to have won the Most Improved Club, Kiwanis Family, and AIM 100 awards last year!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>