<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Check out the <a href="https://github.com/aveedg/gbkc">GitHub repository</a></span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="http://www.remind.com/join/gbkey2223"><i class="fa-solid fa-r"></i></a>
                    </li>
                    <li>
                        <a href="http://classroom.google.com/c/NDg0OTcxOTMwNTI4?cjc=2vzj6qr"><i class="fa-solid fa-users-rectangle"></i></i></a>
                    </li>
                    <li>
                        <a href="http://instagram.com/gbhskeyclub"><i class="fa-brands fa-instagram"></i></a>
                    </li>

                </ul>
            </div>
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
        </div>
    </div>
</footer>