<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Upcoming Events</h2>
                <h3 class="section-subheading text-muted">Always up-to-date with the latest club, division, region, district, and international happenings! Our next three events are listed here for quick reference, but you can look through and click on other upcoming events on the calendar for the location, date, time, sign-up form, and more information about them!</h3>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/events/cnh.jpg" width="120">
                <h4 class="service-heading">CNH Children's Fund Scholarship Deadline<br>Friday, Feb 16</h4>
                <p class="text-muted">This is another neat scholarship avaliable to us as CNH members. Fill out your FAFSA first, you will need some of the information there when filling this form out.<br>Apply at <a href="https://kiwaniscnhfoundation.formstack.com/forms/kckwscholarshipapp">kiwaniscnhfoundation.formstack.com</a></p>
            </div>
            <div>   
                <img src="/img/events/ck.png" width="120">
                <h4 class="service-heading">Key to College & Gift of Giving<br>Sunday, Feb 11, 10-5, 6000 Jed Smith Dr, Sac</h4>
                <p class="text-muted">This is a full day service and fellowship event where Region 16 Key Clubbers are invited to bond with CKI members & Kiwanians! This year, Gift of Giving will be combined with Key to College, an annual event focused on providing relevant information to graduating or soon-to-be graduating Key Clubbers on how to manage their first year in college. Pizza and drinks will be provided. If you register by the 11th, it's $13. At the door is $15, all payments are given by cash on arrival.<br>Sign up at <a href="https://tinyurl.com/CKIGOGK2C">tinyurl.com/CKIGOGK2C</a></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">February DCM<br>Friday, Feb 23, 4:30-6:30</h4>
                <p class="text-muted">Our monthly DCM! More information to come.</p>
            </div>
        </div>

        <!--

            the code for a locked block of event is
            
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">TBA</h4>
                <p class="text-muted">TBA</p>
            </div>

            the code for a normal event is

            <div class="col-md-4">
                <img src="/img/events/location.png" width="120">
                <h4 class="service-heading">Name<br>Dec. 31, 123 Main St, Roseville</h4>
                <p class="text-muted">Desc.<br>Sign up at <a href="https://bit.ly/link">bit.ly/link</a></p>
            </div>
        
        -->

            <iframe src="https://embed.styledcalendar.com/#LB46OZor9b47TVlNL9SU" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
            <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
    </div>
</section>
