<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Upcoming Events</h2>
                <h3 class="section-subheading text-muted">Always up-to-date with the latest club, division, region, district, and international happenings! Our next three events are listed here for quick reference, but you can look through and click on other upcoming events on the calendar for the location, date, time, sign-up form, and more information about them!</h3>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/events/sac.png" alt="Aerospace Museum: Pumpkins and Planes" width="120">
                <h4 class="service-heading">Pumpkins and Planes<br>Saturday, Oct. 28, 9:30-2:30, 3200 Freedom Park Dr, McClellan Park</h4>
                <p class="text-muted">Help run different activities and games at the annual Halloween Festival! You must wear a costume!<br>Sign up at <a href="https://bit.ly/aerospacepumpkins23">bit.ly/aerospacepumpkins23</a></p>
            </div>
            <div class="col-md-4">
                <img src="/img/events/safe.png" alt="Safetyville Trick or Treat" width="320">
                <h4 class="service-heading">Safetyville Trick or Treat<br>Saturday, Oct. 28, 3-9, 3909 Bradshaw Rd, Sacramento</h4>
                <p class="text-muted">Safetyville Sacramento is hosting a community Trick or Treat, and are looking for volunteers to assist with running the event!<br>Sign up at <a href="https://bit.ly/safetyvilletrick23">bit.ly/safetyvilletrick23</a></p>
            </div>
            <div class="col-md-4">
                <img src="/img/events/sac.png" alt="Aerospace Museum: Veteran's Day Open Cockpit" width="120">
                <h4 class="service-heading">Veteran's Day Open Cockpit<br>Saturday, Nov. 11, 9:30-2:30, 3200 Freedom Park Dr, McClellan Park</h4>
                <p class="text-muted">Supervise stations and make sure the event runs smoothly and safely! Sign up by November 8th!<br>Sign up at <a href="https://bit.ly/aerospaceveterans23">bit.ly/aerospaceveterans23</a></p>
            </div>
        </div>

        <!--
                the code for a locked block of event is
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">TBA</h4>
                <p class="text-muted">TBA</p>
            </div>
        -->

            <iframe src="https://embed.styledcalendar.com/#LB46OZor9b47TVlNL9SU" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
            <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
    </div>
</section>