<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Officers</h2>
          <h3 class="section-subheading text-muted">Meet the gang! You can always contact us on Instagram, Remind, gbhskeyclub@gmail.com, or an officer's email one at first.last@student.rjuhsd.us!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="team-member">
            <div class="team-member-wrapper">
              <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
              <div class="president-message">
                <p class="large text-muted"><br>"I happily serve as your President for 2023-2024! Let's celebrate all of our efforts and victories during 2023-2024 and leave a legacy that future Clubbers will be happy to carry into the future! I'm always here for you." -Noelle</p>
              </div>
            </div>
            <h4>Noelle Prange</h4>
            <p class="text-muted">President</p>
            <ul class="list-inline social-buttons"></ul>
          </div>
        </div>
        <div class="col-lg-8">
          {% for member in site.people %}
          {% if member.position != "President" %}
          <div class="col-sm-4">
            <div class="team-member">
              <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
              <h4>{{ member.name }}</h4>
              <p class="text-muted">{{ member.position }}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  
